footer{
    display: flex;
    flex-direction: column;
    .tt_footer{
        text-align: center;
        justify-content: center;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        width: 70.9%;
        height: 1%;
        margin: auto;
        padding-top: 50px;;
    }
}
section{
        .div_rrss{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-around;
        width: 70%;
        padding: 4%;
        align-items: center;
        
        i{
            font-size: 20px;
            text-decoration: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
        
        }

}

@media (min-width: 1024px){
    footer{
        flex-direction: row;
        flex-wrap: wrap;
    }
}